.margin-navbar {
    margin-top: 50px;
}

#map {
    width: 100%;
    height: calc(100vh - 50px);
}

.chart {
    margin-top: 50px;
}

.legend {
    padding: 20px;
    background: white;
}

.content {
    padding-top: 30px;
}